<!-- <div>{{ 'HELLO' | translate }}</div> -->
<div [translate]="'HELLO'"></div>
<div>
    <button (click)="changeToEnglish()" type="button" class="btn btn-primary">Change to english</button>
    <button (click)="changeToDutch()" type="button" class="btn btn-primary">Change to dutch</button>
    <button (click)="changeToFrench()" type="button" class="btn btn-primary">Change to french</button>
    <button (click)="changeToGerman()" type="button" class="btn btn-primary">Change to german</button>
</div>
